{%extends "layout.html"%}


{%block myContent%}
    <!--Contents-->
    <h1 style="color : #17a2b8;">About Us</h1>
    <h2 style="color: #0f4fa1;"> we are GNN (Game News Network)</h2> <br>
    <h2 style="color: #0f4fa1;">we provide new updates about video games <br> to the gaming community </h2>
    <h2 style="color:#0f4fa1 ;">Such as:</h2><br>
    <h3 style="color:#0f4fa1 ;">-Games release date:</h3><br>
    <h3 style="color:#0f4fa1 ;">-New trailers:</h3><br>
    <h3 style="color:#0f4fa1 ;">-Reviews</h3><br>
    <h3 style="color:#0f4fa1 ;">-etc</h3><br>


  {%endblock myContent%}
































  <!-- footer -->
  <footer>
    <div class="bg-info">
      <div class="container" style="padding: 5px;">
        <table class="col-md-8">
         
        <!-- we use emmet (tr>th*4)-->  
        <tr>
            <th class="col-"> </th>
            <th class="col-"><a href="index.html">News</a></th>
            <th class="col-">Find Us</th>
            <th class="col-"> </th>

          </tr>
          <tr>
            <td> </td>
            <th> <a href="about_us.html">About us </a> </th>
            <td> <a href="https://twitter.com/"><i class='fab fa-twitter' style='font-size:20px'></i> @GNN_news</td></a> 
        </tr>
        <tr>
            <td> </td>
            <th> <a href="contact_us.html">Contact us </a></th>
            <td><a href="https://www.instagram.com/"><i class='fab fa-instagram' style='font-size:20px'></i> GNN_news</td></a> 
        </tr>
        <td> </td>
        <th> </th>
        <td><a href="https://www.snapchat.com/"><i class='fab fa-snapchat' style='font-size:20px'></i> GNN_news</td></a> 
    </tr>
   
        <ul class="list-unstyled list-inline text-center py-2">
            <li class="list-inline-item">
              <h5 style="color:white;" class="mb-1">Subscribe for free</h5>
            </li>

            <li class="list-inline-item">
              <a href="regestration.html" class="btn btn-danger btn-rounded">Sign up!</a>
            </li>
          </ul>


        </table>
      </div>
    </div>
  </footer>
  <!-- End of footer-->
</body>

</html>