{%extends "layout.html"%}


{%block myContent%}
    <!--Contents-->
<div class="container" style="height: 100%; align-content: center;">
  <div class="form-group row justify-content-md-center" >
    <div class="col-md-8">
      <div style="padding: 10% 20%;">
        <h3 class="text-info" style="text-align: center;">About Us</h3> </br>
        <p class="h5 text-justify text-info">
          we are GNN (Game News Network) </br>
          we provide new updates about video games </br> 
          to the gaming community, Such as: </br> 
          <ul class="h5 text-info">
          <li>Games release date</li>
          <li>New trailers</li>
          <li>Reviews</li>
          </ul> 
        </p>
      </div>
    </div>
  </div>
</div>

  {%endblock myContent%}

