{%extends "layout.html"%}
{%block myContent%}
  <!-- action game -->
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8">

        <h3 class="text-center">Action Games <i class='fa fa-bomb' style='font-size:36px;color:  #17a2b8;'></i></h3>
        </br>

        <!-- game #1-->
        <div class="card border-1 border-info rounded mb-3" style="max-width: 700px;">
          <div class="row no-gutters">
            <div class="col-md-5">
              <img src="static/image/cod_mw.jpg" class="card-img" style="width: 300px; height: 405px;">
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <h5 class="card-title text-info text-center">Call Of Duty: Modren Warefare</h5>
                <p class="card-text  text-justify">Prepare to go dark -- Modern Warfare is back! Developed by Infinity
                  Ward,
                  Call of Duty: Modern Warfare puts you in the role of highly-skilled Tier One operators in an
                  incredibly raw
                  and gritty narrative affecting the global balance of power. The new Modern Warfare delivers an
                  emotionally
                  charged and intense campaign that shines a light on the changing nature of modern war. Expect a
                  single-player
                  experience that is edgy, culturally relevant, and thought-provoking.</br>
                  Visit <a href="https://www.callofduty.com/modernwarfare">Call Of Duty website</a> to see full
                  features.</p>
                <div class="row justify-content-md-center">
                  <div class="col-md-6">
                    <button type="submit" class="btn btn-danger btn-lg btn-block" data-toggle="collapse"
                      data-target="#collapseExample" aria-expanded="false"
                      aria-controls="collapseExample">Trailer</button>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="collapse" id="collapseExample" style="margin-top: 20px;">
            <div class="row no-gutters justify-content-md-center">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bH1lHCirCGI"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
        <!-- End of game #1-->

      </div> <!-- End of col-md-10 -->
    </div> <!-- End of row -->
  </div> <!-- End of container -->
  <!-- end of action games -->
  {%endblock myContent%}