{%extends "layout.html"%}
{%block myContent%}

  <!-- adventure game -->
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8">

        <h3 class="text-center">Adventure Games <i class='fas fa-gamepad' style='font-size:36px;color:  #17a2b8;'></i>
        </h3> </br>

        <!-- game #1-->
        <div class="card border-1 border-info rounded mb-3" style="max-width: 700px;">
          <div class="row no-gutters">
            <div class="col-md-5">
              <img src="static/image/ds.png" class="card-img" style="width: 300px; height: 405px;">
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <h5 class="card-title text-info text-center">Death Stranding</h5>
                <p class="card-text  text-justify">From legendary game creator Hideo Kojima comes the genre-defying
                  experience Death Stranding,
                  starring Norman Reedus, Mads Mikkelsen, Léa Seydoux, and Lindsay Wagner. In the near future,
                  mysterious
                  explosions have rocked the planet, setting off a series of supernatural events known as the Death
                  Stranding.
                  With spectral creatures plaguing the landscape, it’s up to Sam Bridges to journey across the ravaged
                  wasteland and save mankind from impending annihilation.</br>
                  Visit <a href="https://www.playstation.com/en-us/games/death-stranding-ps4/">Death Sttranding</a> to
                  see full features.</p>
                <div class="row justify-content-md-center">
                  <div class="col-md-6">
                    <button type="submit" class="btn btn-danger btn-lg btn-block" data-toggle="collapse"
                      data-target="#collapseExample" aria-expanded="false"
                      aria-controls="collapseExample">Trailer</button>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="collapse" id="collapseExample" style="margin-top: 20px;">
            <div class="row no-gutters justify-content-md-center">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tCI396HyhbQ"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
        <!-- End of game #1-->

      </div> <!-- End of col-md-10 -->
    </div> <!-- End of row -->
  </div> <!-- End of container -->
  <!-- end of adventure games -->
  {%endblock myContent%}