{%extends "layout.html"%}
{%block head%}
  <script src="/static/utilities.js"></script>
{%endblock head%}





{%block myContent%}
  

<div class="container" style="height: 100%; align-content: center;">
  <div class="form-group row justify-content-md-center" >
    <div class="col-md-8">
      <div style="padding: 10% 20%;">
        <h3 style="text-align: center;">Contact us</h3>
          <!--FORM-->
          <form action="{{ url_for('sendM') }}" method="POST">
            <!--NAME FIELD-->
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" minlength="3">
            <!--EMAIL FIELD-->
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
            <!--PHONE FIELD-->
            <label for="phone">Enter your phone number:</label>
            <input type="tel" class="form-control" id="phone" name="phone" required>
            <!--COUNTRY FIELD-->
            <label for="country">Country</label>
            <div id="countries"></div>
            <script>
              countriesDropdown("countries");
            </script>
            <!--MESSAGE BOX-->
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="body" placeholder="Write something.." rows="5" required></textarea>
              </div>
            <!--SUBMIT BUTTON-->
            <div style="  display: flex; justify-content: center; align-items: center;">
              <button type="submit" class="btn btn-primary">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {%endblock myContent%}