{%extends "layout.html"%}

{%block myContent%}
  
  <!--MAIN FORM-->
<div class="container" style="height: 100%; align-content: center;">
<div class="d-flex justify-content-center h-100">
  <div style="padding: 10% 20%;">
  <h3 style="text-align: center;">Login</h3>
    <form action='index.html' method='POST'>  
      <!--EMAIL FIELD-->
      <div class="form-group row">
        <div class="col-xs-7" style="">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
        </div>
      </div>
      <!--PASSWORD FIELD-->
      <div class="form-group row">
        <div class="col-xs-7" >
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>

        </div>
      </div>
      <!--CHECK BOX-->
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Stay logged in</label>
      </div>
      <!--SUBMIT-->
      <div style="  display: flex; justify-content: center; align-items: center;">
        <button type="submit" class="btn btn-primary">Log in</button>
      </div>
    </form>
  </div> 
  </div> 
</div> <!-- end of container -->
{%endblock myContent%}