{%extends "layout.html"%}

{%block myContent%}
  
  <!--MAIN FORM-->
<div class="container" style="height: 100%; align-content: center;">
<div class="d-flex justify-content-center h-100">
  <div style="padding: 10% 20%;">
  <h3 style="text-align: center;">Login</h3>
    <form action="{{ url_for('set') }}" method='POST'>  
      <!--EMAIL FIELD-->
      <div class="form-group row">
        <div class="col-xs-7" style="">
          <label for="name">Full name</label>
          <input type="text" class="form-control" id="name" name='name' minlength="3" value="{{ us }}" required>
        </div>
      </div>
      <!--PASSWORD FIELD-->
      <div class="form-group row">
        <div class="col-xs-7" >
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1"
            name="password" required>

        </div>
      </div>
      <!--CHECK BOX-->
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Stay logged in</label>
      </div>
      <!--SUBMIT-->
      <div style="  display: flex; justify-content: center; align-items: center;">
        <button type="submit" class="btn btn-primary">Log in</button>
      </div>
    </form>
  </div> 
  </div> 
</div> <!-- end of container -->
{%endblock myContent%}