{%extends "layout.html"%}
{%block head%}
<script src="/static/utilities.js"></script>
<script src="/static/terms_content.js"></script>
<script>
  function validation() {
    var p1 = document.getElementById('pass1').value;
    var p2 = document.getElementById('pass2').value;
    var errmsg = document.getElementById('eMsg')
    var alert = document.getElementById('alert');
    if (p1 !== p2) {
      alert.hidden=false
      errmsg.innerHTML = 'The passwords do not match!'
      return false
    }
    if (p1 == '' || p2 == '') {
      alert.hidden=false
      errmsg.innerHTML = 'You must enter a password!'
      return false
    }
    if (check1.checked == false) {
      alert.hidden=false
      errmsg.innerHTML = 'You must agree to the terms and services!'
      return false
    }
    
  }
</script>

{%endblock head%}
{%block myContent%}
  <div class="container" style="height: 100%; align-content: center;">
    <div class="d-flex justify-content-center h-100">

      <form action="{{ url_for('handle_data') }}"  method='POST'>
        <h3 style="text-align: center;">Registration</h3>

        <div class="form-group row justify-content-md-center" >
          <div class="col-md-12">
            <!--NAME FIELD-->
            <label for="name">Full name</label>
            <input type="text" class="form-control" id="name" name='name' minlength="3" value="{{ us }}" required> </br>
            <!--PHONE FIELD-->
            <label for="phone">Enter your phone number:</label>
            <input type="tel" class="form-control" id="phone" name='phone' value="{{ phone }}" required> </br>

            <!--COUNTRY FIELD-->
            <label for="country">Country</label>
            <div id="countries" name = 'country' ></div>
            <script>
              countriesDropdown("countries");
            </script> </br>
            <!--EMAIL FIELD-->
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name='email' value="{{ umail }}" aria-describedby="emailHelp" required> </br>
            <!--PASSWORD FIELD-->
            <label for="pass1">Password</label>
            <input type="password" class="form-control" id="pass1" name='password' placeholder="6 characters atleast 1 uppercase letter,1 digit" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"> </br>
            
            <label for="pass2">Re-enter your password</label>
            <input type="password" class="form-control" id="pass2" placeholder="6 characters atleast 1 uppercase letter,1 digit" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}">

          </div>
        </div>
        <div class="form-group form-check">
          <!--CHECK BOX-->
          <input type="checkbox" class="form-check-input" id="check1">
          <label class="form-check-label" for="exampleCheck1">I agree to the terms and service</label>
          <!--TEST-->
          <!-- Button trigger modal -->
          <a data-toggle="modal" data-target="#exampleModalScrollable" id='termLink'>
            <u>preview terms</u>
          </a>

          <!-- Modal -->
          <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalScrollableTitle">TERMS AND CONDITIONS</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p id='contentOfTerms'></p>
                  <script>
                    termsPrint("contentOfTerms");
                  </script>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" onclick="document.getElementById('check1').checked=true"
                    data-dismiss="modal">Accept</button>
                </div>
              </div>
            </div>
          </div>
          <!--END TEST-->
        </div>
        <!--SUBMIT BUTTON-->
        <div style="display: flex; justify-content: left; align-items: center;">
          <button type="submit" class="btn btn-primary" onclick="return validation()">Register</button>
          
        </div>
        <br>
        <div class="alert alert-danger" id="alert" hidden>
          <strong>Error!</strong><p id="eMsg"></p>
        </div>
        {%if errmsg == True%}
        <script>
          var alert = document.getElementById('alert')
          var errmsg = document.getElementById('eMsg')
          alert.hidden = false
          errmsg.innerHTML = 'This name exist'
        </script>
        {%endif%}
      </form>

    </div>
  </div> <!-- End of container -->
  {%endblock myContent%}