{%extends "layout.html"%}
{%block head%}
    <script src="/static/user_get.js"></script>
{%endblock head%}





{%block myContent%}
    
    <div class="container">
        <button id="myButton">Load Users</button>
        <div class="row justify-content-md-center">
            
            <div class="col-md-10">
                

                <div id= "users" class="row row-cols-1 row-cols-md-2">
                    
                      
                  </div>
            </div>

        </div>
    </div> <!-- End of container -->
{%endblock myContent%}